{% extends 'base.html.twig' %}

{% block title %}New EquipoMarca{% endblock %}

{% block body %}
    <h1>Create new EquipoMarca</h1>

    {{ include('equipo_marca/_form.html.twig') }}

    <a href="{{ path('equipo_marca_index') }}">back to list</a>
{% endblock %}
