{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div>
        <h2></h2>
        <h1>Bienbenidos a Electronic Piura</h1>

    </div>

{% endblock %}
