{% extends 'base.html.twig' %}

{% block title %}New OrdenServicio{% endblock %}

{% block body %}
    <h1>Create new OrdenServicio</h1>

    {{ include('orden_servicio/_form.html.twig') }}

    <a href="{{ path('orden_servicio_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    <script src = "{{ asset('js/colecion.js') }}"></script>
    <script>
        jQuery(document).ready(function (){
             Collection.int(#'')

        });


    </script>
{% endblock %}