{% extends 'base.html.twig' %}

{% block title %}New TipoPago{% endblock %}

{% block body %}
    <h1>Create new TipoPago</h1>

    {{ include('tipo_pago/_form.html.twig') }}

    <a href="{{ path('tipo_pago_index') }}">back to list</a>
{% endblock %}
